<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js crash course</title>
</head>
<body>
    <h1>about</h1>
    <h2>Your path to becoming a node.js ninja</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quia laborum voluptatum! Nesciunt possimus accusantium excepturi ipsam ea. Itaque autem facere cupiditate odit reiciendis suscipit quo totam possimus commodi optio.
    </p>
    <p><b><i>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem similique maxime magnam et nostrum neque enim obcaecati cum. Consectetur dignissimos libero accusamus dolore, eaque deleniti illo similique at natus alias?
    </i></b></p>
</body>
</html>