<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")%>

<body>
    <%- include("./partials/nav.ejs")%>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quia laborum voluptatum! Nesciunt possimus accusantium excepturi ipsam ea. Itaque autem facere cupiditate odit reiciendis suscipit quo totam possimus commodi optio.
        </p>
        <p><b><i>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem similique maxime magnam et nostrum neque enim obcaecati cum. Consectetur dignissimos libero accusamus dolore, eaque deleniti illo similique at natus alias?
        </i></b></p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quia laborum voluptatum! Nesciunt possimus accusantium excepturi ipsam ea. Itaque autem facere cupiditate odit reiciendis suscipit quo totam possimus commodi optio.
        </p>
    </div>
<%- include("./partials/footer.ejs")%>

</body>
</html>